@model IEnumerable<EuroApi.Models.Player>

@{
    ViewBag.Title = "Toplist";
    Layout = "../Shared/_Layout.cshtml";
}


<div class="demo">

    <div class="ui-widget">
        <label for="tags">Name of player: </label>
        <input id="tags">
    </div>
</div>

<div id="searchDescription"></div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Goals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalTeam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Team)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Goals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NationalTeam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


<script>
    $(function () {
        var availableTags = [];
        $.ajax({
            url: "/Player/GetPlayerList",
            type: "POST",
            async: false,
            success: function (results) {
                console.log(results);
                availableTags = results;
            }
        });

        $("#tags").autocomplete({
            source: availableTags,
            select: function (value, data) {
                if (typeof data == "undefined") {
                    $("#searchDescription").html('You selected: ' + value + "<br/>");
                } else {
                    $("#searchDescription").html('You selected: ' + data.item.value + "<br/>");
                    window.location = "/Player/Show/?name=" + data.item.value;
                }
            }
        });
    });
	</script>
