@model System.Dynamic.ExpandoObject

@{
    ViewBag.Title = "Teams Stats";
    var goals = (List<int>) ViewBag.Goals;
    var caps = (List<int>) ViewBag.Caps;
    var dateOfBirtAverage = (List<string>) ViewBag.DateOfBirthAverage;
    var names = (List<string>) ViewBag.Names;
}
<style>
    table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: pointer;
    }
</style>

<h2>Teams Stats</h2>
<table class="sortable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Goals</th>
            <th>Caps</th>
            <th>Date of Birth avg.</th>
            <th>Goals per match per player</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < names.Count; i++)
        {
            <tr>
                <td>@names[i]</td>
                <td>@goals[i]</td>
                <td>@caps[i]</td>
                <td>@dateOfBirtAverage[i]</td>
                <td>@(((double)goals[i] * 10000 / caps[i])/10000)</td>
            </tr>
        }
    </tbody>
</table>