@using CodeFirstMembershipSharp
@using EuroApi.Models
@model List<KnockoutMatch>
@{
    ViewBag.Title = "Home";
}
@if (!User.Identity.IsAuthenticated)
{
    <div class="hero-unit span11" style="height: 170px; margin-top: 0px;">
        <h2 style="margin-top: -40px;">FootyFeud</h2>
    
        <section class="features">
        
            <section class="feature">
                <h3>Get an account</h3>
                <a href="/Account/Register"><img src="@Url.Content("~/Content/images/niLYkeG.jpg")" style="box-shadow: 4px 3px 3px #888; height: 150px;" /></a>
            </section>
    
        </section>
    
    </div>
}

<<<<<<< HEAD
<div style="font-size: large">@Html.ActionLink("Bet on semi finals", "Semi", "KnockoutMatchResultBet")</div>
=======
<div style="font-size: large">@Html.ActionLink("Bet on final", "Final", "KnockoutMatchResultBet")</div>
>>>>>>> Tournament bets

@Html.Partial("_Chat")

@{
    var matchesPlayed = (List<KnockoutMatch>)ViewBag.PlayedMatches;
}

<div class="row">
    <div style="" class="span5 well">
        <div class="page-header span6" style="">
            <h2>Upcoming matches</h2>
        </div>
        @foreach (var match in Model)
        {
            <div class="teamsInMatch" style="margin: 1px 0px 10px 0px; font-size: 0.95em;">
                @Html.Partial("_Match", match)
            </div>
        }
        @if (matchesPlayed.Any())
        {
            <div class="page-header span6" style="">
                <h2>Played matches</h2>
            </div>
            foreach (var match in matchesPlayed)
            {
                <div class="teamsInMatch" style="margin: 1px 0px 10px 0px; font-size: 0.95em;">
                    @Html.Partial("_MatchPlayed", match)
                </div>
            }
        }
        
    </div>
        
        
    <div style="display: inline-block;" class="span6 well">
        <div class="page-header span6" style="">
            <h2>Groups</h2>
        </div>

        @foreach (var group in (List<IEnumerable<Team>>)ViewBag.Groups)
        {
            <div class="span3" style="margin: 2px;">
                @Html.Partial("_Group", group)
            </div>
        }
    </div>
</div>

@{
    var currentMatchBetList = ViewBag.CurrentMatchBets == null ? null : (List<List<KnockoutMatchResultBet>>)ViewBag.CurrentMatchBets;    
}
@if (currentMatchBetList != null && currentMatchBetList.Any())
{
    foreach (var currentMatchBets in currentMatchBetList)
    {
        if (!currentMatchBets.Any())
        {
            continue;
        }
        <div style="" class="well">
            <h3>Current match</h3>
            <br />
            @Html.Partial("_MatchHeading", currentMatchBets.First().KnockoutMatch)

            <div class="row" style="font-weight: bold;">
                <div class="span2">
                    User
                </div>
                <div class="span2">
                    Bet
                </div>
            </div>
            @foreach (var currentMatchBet in currentMatchBets)
            {
                <div class="row" style="margin-top: 4px;">
                    <div class="span2">
                        @currentMatchBet.User
                    </div>
                    <div class="span2">
                        @currentMatchBet.HomeTeamGoals - @currentMatchBet.AwayTeamGoals
                    </div>
                </div>
            }
        </div>
    }
} 



@Html.Partial("_Results", (IOrderedEnumerable<User>)ViewBag.Users)
@Html.Partial("_TournamentBets", (IOrderedEnumerable<User>)ViewBag.Users)
