@using EuroApi.Models
@model List<Match>
@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit span11" style="height: 170px; margin-top: 0px;">
    <h2 style="margin-top: -40px;">FootyFeud</h2>
    <section class="features">
        @if (!User.Identity.IsAuthenticated)
        {
            <section class="feature">
                <h3>Get an account</h3>
                <a href="/Account/Register"><img src="@Url.Content("~/Content/images/niLYkeG.jpg")" style="box-shadow: 4px 3px 3px #888; height: 150px;" /></a>
            </section>
        }
        else
        {
            <section class="feature">
                <h3>Join a league</h3>
                <a href="/"><img src="@Url.Content("~/Content/images/niLYkeG.jpg")" alt="ASP.NET" style="box-shadow: 4px 3px 3px #888; height: 150px;"/></a>
            </section>
        }
    
        <section class="feature">
            <h3>Place your bets</h3>
            <a href="/MatchResultBet/"><img src="@Url.Content("~/Content/images/euro2012w.jpg")" alt="NuGet" style="box-shadow: 4px 3px 3px #888; height: 150px;"/></a>
        </section>
        <section class="feature">
            <h3>Check out the statistics</h3>
            <a href="/Player/TopTeams"><img src="@Url.Content("~/Content/images/euro-2012-mascots.jpg")" alt="Hosting" style="box-shadow: 4px 3px 3px #888; height: 150px; margin-left: 0px;"/></a>
        </section>
    </section>
</div>





<div class="row" style="display: inline-block;">
    
    
    <div class="page-header span6" style="">
            
        <h2>Upcoming matches</h2>
    </div>
    <div class="page-header span6" style="">
            
        <h2>Groups</h2>
    </div>
</div>
<div class="row">
    <div style="" class="span5 well">
        @foreach(var match in Model)
        {
            <div class="teamsInMatch" style="margin: 1px 0px 10px 0px; font-size: 0.95em;">
                @Html.Partial("_Match", match)
            </div>
        }
    </div>
        
        
    <div style="display: inline-block;" class="span6 well">
        @foreach(var group in (List<IEnumerable<Team>>)ViewBag.Groups)
        {
            <div class="span3" style="margin: 2px;">
                @Html.Partial("_Group", group)
            </div>
        }
    </div>
</div>
