@model List<List<EuroApi.Models.Team>>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}


<div class="groupTables">
@foreach (var group in Model)
{
    <div class="groupTable">
    <table>
        <tr>
            <th style="width: 30px;"></th>
            <th style="width: 70px;">Team</th>
            <th>#</th>
            <th>+</th>
            <th>-</th>
            <th>+/-</th>
            <th>P</th>

        </tr>
        
            @foreach (var team in group)
            {
                string teamName = team.Name.ToLower().Replace(" ", "");
                string path = @"/Content/flags/" + teamName + "-flag.gif";
            <tr>
                <td><img src=@Url.Content(@path) style="height: 14px;" alt="flag" /></td>
                <td>@team.Name</td>
                <td>@team.PlayedMatches.Count</td>
                <td>@team.GoalsScored</td>
                <td>@team.GoalsConceded</td>
                <td>@team.GoalDifference</td>
                <td>@team.Points</td>
            </tr>
            }
    </table>
    </div>
}
            
</div>