@using EuroApi.Models
@model List<Team>
<style>
th {
   width: 25px; 
}
</style>

<h3 style="text-align: center;">The groups</h3>
<div class="matches">
    @foreach(var match in (List<Match>)ViewBag.Matches)
    {
        <div class="match">
            @match.HomeTeam.Name - @match.GuestTeam.Name | @match.HomeTeamGoals : @match.AwayTeamGoals
        </div>
    }
</div>
<div class="groupTables">

    <div class="groupTable">
    <table>
        <tr>
        <th style="width: 30px;"></th>
        <th style="width: 70px;">Team</th>
        <th>#</th>
        <th>+</th>
        <th>-</th>
        <th>+/-</th>
        <th>P</th>

        </tr>
        @foreach (var team in Model)
        {
            string teamName = team.Name.ToLower().Replace(" ", "");
            string path = @"/Content/flags/" + teamName + "-flag.gif";
            <tr>
                <td><img src=@Url.Content(@path) style="height: 14px;" alt="flag" /></td>
                <td>@team.Name</td>
                <td>@team.PlayedMatches.Count</td>
                <td>@team.GoalsScored</td>
                <td>@team.GoalsConceded</td>
                <td>@team.GoalDifference</td>
                <td>@team.Points</td>
            </tr>
        }
    </table>
    </div>
</div>