@model System.Collections.Generic.List<EuroApi.Models.Player>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
    var position = "";
}

@foreach(var player in Model)
{
    if(position != player.Position)
    {
        position = player.Position;
        <div style="font-weight: bold;">@(player.PositionPresentable)s</div>
    }
    <div class="player">
        @player.Number<span>. </span>@player.Name (@player.Team) @(player.Caps)/@(player.Goals)
    </div>
}