@using EuroApi.Models
@model List<Team>

@{
    var types = (List<TeamBetType>) ViewBag.Types;
    var bets = (List<TeamBet>) ViewBag.Bets;
}
@foreach (var type in types)
{
    var bet = bets.FirstOrDefault(x => x.TeamBetTypeId == type.Id);
    <div class="page-header">
        <h2>@type.LongDescription</h2>
    </div>
    <div class="row">
        <div class="span3">
            <span>Select</span>
            <select class="teamSelect teamSelect@(type.Id)" typeId="@type.Id">
                @foreach (var team in Model)
                {
                    if(bet != null && bet.TeamId == team.Id)
                    {
                        <option value="@team.Id" selected="selected">@team.Name</option>
                    }
                    else
                    {
                        <option value="@team.Id">@team.Name</option>
                    }
                }
            </select>
        </div>
        <div class="span3">
            <span>&nbsp;</span>            
            <div class="demo">
                <div class="ui-widget">
                    @if(bet != null)
                    {
                        <input disabled="disabled" class="teamSearch teamSearch@(type.Id)" typeId="@type.Id" value="@bet.Team.Name" />
                    }
                    else
                    {
                        <input disabled="disabled" class="teamSearch teamSearch@(type.Id)" typeId="@type.Id" />
                    }
                </div>
            </div>
        </div>
        <div class="selectedBetPlayer@(type.Id)"></div>
    </div>
}

<script>

    $(function () {
        var availableTags;
        $.ajax({
            url: "/TeamBet/TeamList",
            async: false,
            type: "POST",
            success: function (results) {
                availableTags = results;
            }
        });

        $(".teamSelect").live("change", function () {
            var type = $(this).attr("typeId");
            var playerId = $(this).val();
            $(".teamSearch" + type).val($(this).find("option:selected").text());
            setTeamBet(playerId, type);
        });
    });

    function setTeamBet(id, type) {
        $.ajax({
            url: "/TeamBet/SetBet",
            data: { teamId: id, type: type },
            type: "POST",
            success: function (results) {
                $(".teamSelect" + type).val(id);
            }
        });
    }
</script>