@using EuroApi.Models
@model List<Team>
@{
    var firstTeam = Model.FirstOrDefault() ?? new Team{Group = new Group{Name = ""}};
    var groupName = firstTeam.Group.Name;
}
<div class="groupTable">
<div style="margin-left: -40px; margin-bottom: 15px;font-weight: bold; font-size: 1.2em;">Group @groupName</div>       
    <table>
        <tr>
            <th style="width: 30px;"></th>
            <th style="width: 70px;">Team</th>
            <th>#</th>
            <th>+</th>
            <th>-</th>
            <th>+/-</th>
            <th>P</th>
        </tr>
        
        @foreach (var team in Model)
        {
            string teamName = team.Name.ToLower().Replace(" ", "");
            string path = @"/Content/flags/" + teamName + "-flag.gif";
            <tr>
                <td><img src=@Url.Content(@path) style="height: 14px;" alt="flag" /></td>
                <td>@team.Name</td>
                <td>@team.PlayedMatches.Count</td>
                <td>@team.GoalsScored</td>
                <td>@team.GoalsConceded</td>
                <td>@team.GoalDifference</td>
                <td>@team.Points</td>
            </tr>
        }
    </table>
</div>