@using Microsoft.Web.Optimization
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="@BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <script src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-16131342-5']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
   </head>
    <body>
        <header>
            
            <div class="navbar navbar-fixed-top">  
                <div class="navbar-inner">  
                    <div class="container">
                        <a class="brand" style="text-decoration: none;" href="/">
                            FootyFeud
                        </a>  
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Bet", "Index", "MatchResultBet")</li>
                                <li>@Html.ActionLink("Players", "Index", "Player")</li>
                                <li>@Html.ActionLink("Stats", "TopTeams", "Player")</li>
                                <li>@Html.Partial("_LogOnPartial")</li>
                            </ul>
                        </div><!--/.nav-collapse -->  
                    </div>  
                </div>  
            </div>
            <div class="clear"></div>
        </header>
        <div id="body">
            @RenderSection("featured", false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
