@model EuroApi.Models.Player
<div class="span1">
    @Model.PositionPresentable   
</div>
<div class="span3">
    <a href="/Player/Details/@Model.Id">@Model.Name</a>
</div>
<div class="span3">
    @Model.Team
</div>
<div class="span2">
    @Model.Caps
</div>
<div class="span2">
    @Model.Goals
</div>