@using EuroApi.Models
@model Match
@{
    var userBets = (List<MatchResultBet>)ViewBag.UsersResultBets;
    var userBetHomeResult = 0;
    var userBetAwayResult = 0;
    var untouched = "";
    if (userBets != null)
    {
        var userBet = userBets.Where(x => x.MatchId == Model.Id).ToList();
        if (userBet.Any())
        {
            userBetHomeResult = userBet.Select(x => x.HomeTeamGoals).FirstOrDefault();
            userBetAwayResult = userBet.Select(x => x.AwayTeamGoals).FirstOrDefault();
            untouched = "glyphicons_198_ok.png";            
        }
    }
    var group = Model.HomeTeam.Group.Name;
}
<div class="teamsInMatch">
    <div class="teamInMatch"><img src="/Content/flags/@(Model.HomeTeam.Name)-flag.gif" style='height: 14px;' alt='flag' />
        @Model.HomeTeam.Name
    </div>
    <div class="teamInMatch"><img src="/Content/flags/@(Model.AwayTeam.Name)-flag.gif" style='height: 14px;' alt='flag' />                 
        @Model.AwayTeam.Name
    </div>
</div>
<div class="teamsInMatch">
    <input class="resultBet homeTeam @untouched" type="tel" group="@group" matchId="@Model.Id" value="@userBetHomeResult"/>
    <input class="resultBet awayTeam @untouched" type="tel" group="@group" matchId="@Model.Id" value="@userBetAwayResult" />
    <div class="resultSaved"><img src="/Content/images/@(untouched)" style="height: 15px;" alt=""/></div>
</div>
