@model IEnumerable<EuroApi.Models.Match>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestTeam.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayTeamGoals)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayTeamGoals)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
