@model List<List<EuroApi.Models.Team>>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="groupTables">
<a href="/MatchResultBet/Index?group=a">Back to betting</a>
</div>
<div class="groupTables">
    @foreach (var group in Model)
    {
        <div class="groupTable">
            <div style="margin-left: -40px; margin-bottom: 15px;font-weight: bold; font-size: 1.2em;">Group @group.FirstOrDefault().Group.Name</div>       
            <table>
                <tr>
                    <th style="width: 30px;"></th>
                    <th style="width: 70px;">Team</th>
                    <th>#</th>
                    <th>+</th>
                    <th>-</th>
                    <th>+/-</th>
                    <th>P</th>

                </tr>
        
                @foreach (var team in group)
                {
                    string teamName = team.Name.ToLower().Replace(" ", "");
                    string path = @"/Content/flags/" + teamName + "-flag.gif";
                    <tr>
                        <td><img src=@Url.Content(@path) style="height: 14px;" alt="flag" /></td>
                        <td>@team.Name</td>
                        <td>@team.PlayedMatches.Count</td>
                        <td>@team.GoalsScored</td>
                        <td>@team.GoalsConceded</td>
                        <td>@team.GoalDifference</td>
                        <td>@team.Points</td>
                    </tr>
                }
            </table>
        </div>
    }
            
</div>
@{
    var quarterFinals = (IEnumerable<EuroApi.Models.KnockoutMatch>) ViewBag.QuarterFinals;
}

<div style="margin-left: 200px; margin-top: 40px;">
    <div style="font-weight: bold; font-size: 1.5em; margin-bottom: 10px;">Quarterfinals</div>
    @foreach(var match in quarterFinals)
    {
        <div class="userBetMatch">
            <div class="teamsInMatch">
                <div><img src="/Content/flags/@(match.HomeTeam)-flag.gif" style='height: 14px;' alt='flag' />
                    @match.HomeTeam</div> - 
                <div><img src="/Content/flags/@(match.AwayTeam)-flag.gif" style='height: 14px;' alt='flag' />                 
                    @match.AwayTeam</div>
            </div>
        </div>
    }
</div>