@using EuroApi.Models
@model List<EuroApi.Models.MatchResultBet>

@{
    ViewBag.Title = "Bets";
}
<div class="row well">
    <div class="row" style="font-weight: bold;">
        <div class="span2">
            Home Team
        </div>
        <div class="span2">
            Away Team
        </div>
        <div class="span2">
            Bet
        </div>
        <div class="span2">
            Actual Result
        </div>
        <div class="span2">
            Points
        </div>
    </div>

    @foreach (var bet in Model)
    {
        <div class="row" style="margin-top: 4px;">
            <div class="span2">
                <img src="/Content/flags/@(bet.Match.HomeTeam.Name)-flag.gif" style='height: 14px;' alt='flag' />
                @bet.Match.HomeTeam.Name
            </div>
            <div class="span2">
                <img src="/Content/flags/@(bet.Match.AwayTeam.Name)-flag.gif" style='height: 14px;' alt='flag' />                 
                @bet.Match.AwayTeam.Name
            </div>
            <div class="span2">
                @bet.HomeTeamGoals - @bet.AwayTeamGoals
            </div>
            <div class="span2">
                @bet.Match.HomeTeamGoals - @bet.Match.AwayTeamGoals
            </div>
            <div class="span2">
                @(bet.Points())
            </div>
        </div>

    }
    <hr />
    @foreach (var bet in (List<KnockoutMatchResultBet>)ViewBag.KnockoutBets)
    {
        <div class="row" style="margin-top: 4px;">
            <div class="span2">
                <img src="/Content/flags/@(bet.KnockoutMatch.HomeTeam.Name)-flag.gif" style='height: 14px;' alt='flag' />
                @bet.KnockoutMatch.HomeTeam.Name
            </div>
            <div class="span2">
                <img src="/Content/flags/@(bet.KnockoutMatch.AwayTeam.Name)-flag.gif" style='height: 14px;' alt='flag' />                 
                @bet.KnockoutMatch.AwayTeam.Name
            </div>
            <div class="span2">
                @bet.HomeTeamGoals - @bet.AwayTeamGoals
            </div>
            <div class="span2">
                @bet.KnockoutMatch.HomeTeamGoals - @bet.KnockoutMatch.AwayTeamGoals
            </div>
            <div class="span2">
                @(bet.Points())
            </div>
        </div>

    }
</div>