@model EuroApi.Models.KnockoutMatch

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>KnockoutMatch</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeamId, "HomeTeam")
        </div>
        <div class="editor-field">
            @Html.DropDownList("HomeTeamId", String.Empty)
            @Html.ValidationMessageFor(model => model.HomeTeamId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AwayTeamId, "AwayTeam")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AwayTeamId", String.Empty)
            @Html.ValidationMessageFor(model => model.AwayTeamId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeamGoals)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeTeamGoals)
            @Html.ValidationMessageFor(model => model.HomeTeamGoals)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AwayTeamGoals)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AwayTeamGoals)
            @Html.ValidationMessageFor(model => model.AwayTeamGoals)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Place)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Place)
            @Html.ValidationMessageFor(model => model.Place)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
